
.main{
    /* border: 1px solid ; */
    margin: 0px 10%;
    height: max-content;
    display: flex;
}
.forum-containner{
    padding-top: 30px;
}
.forum-containner .create-new-post{
    width: 800px;
    margin-left: calc(10% + 25px);
    height: max-content;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 10px;
}
.forum-containner .create-new-post .header{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    /* border-bottom: 1px solid #dbdbdb; */
}
.forum-containner .create-new-post button{
    padding: 0px 0px !important;
    font-size: 16px;
}
.forum-containner .create-new-post #upload-post{
    padding: 10px 20px;
}
.forum-containner .aside-right{
    width: 290px;
    justify-content: flex-end;
    padding: 25px 0px;

}
.forum-containner .aside-left{
    flex-grow: 1;
    padding: 25px 60px 10px 25px;
    /* border-right: 1px solid ; */
}
.forum-containner .aside-left .forum-post{
    width: 800px;
    height: max-content;
    border: 1px solid #dbdbdb ;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.forum-containner .aside-right .recent-post{
    width: 100%;
    height: 90vh;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 10px;
}
.forum-containner .aside-right .title{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}
.forum-containner .aside-right .list-title .title-post{
    border-bottom: 1px solid #dbdbdb;
    height: 64px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 64px;
    padding-left: 10px;
    cursor: pointer;  
}
.forum-containner .aside-right .list-title .title-post:hover{
    border-bottom: 1px solid #dbdbdb;
    height: 64px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 64px;
    padding-left: 10px;
    cursor: pointer;
    color: #ffcd08;;  
}
/* .forum-containner .aside-right .create-post .btn{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #333333;
    background-color: none;
    cursor: pointer;
} */
.forum-containner .aside-right .list-title{
    height: 70vh;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
}
.forum-containner .aside-left  img{
    /* background-size: cover; */
    width: 798px;
    height: 490px;
    margin: 0px;
}

.forum-containner .aside-left .title{
    margin: 5px 10px 5px 10px;
    height: 60px;
    font-size: 33px;
    font-weight: 700;
    line-height: 64px;
    cursor: pointer; 
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.forum-containner .aside-left .title:hover{
    margin: 5px 10px 5px 10px;
    height: 60px;
    font-size: 33px;
    font-weight: 700;
    line-height: 64px;
    cursor: pointer; 
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.forum-containner .aside-left .one-forum-post .title:hover{
    text-decoration: none;
}
.forum-containner .aside-left .forum-post p{
    /* margin: 0px 20px 20px 10px; */
    height: 100px;
    font-size: 20px;
    line-height: 25px;
    /* border: 1px solid; */
    /* word-break: break-all; */
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 800px;
    color: #333333
}
/* .forum-containner .aside-left p{
    
    
} */
.forum-containner .aside-left .one-forum-post{
    width: 800px;
    height: max-content;
    border: 1px solid #dbdbdb ;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 20px;

}
.forum-containner .aside-left .one-forum-post p{
    height: max-content;
    font-size: 20px;
    line-height: 25px;
    /* border: 1px solid; */
    /* border-bottom: 1px solid #dbdbdb; */
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    max-width: 800px;
    color: #333333
}
.forum-containner .aside-left .comment-wrapper{
    max-width: 800px;
    height: 350px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    padding-right: 20px;
    padding-left: 15px;
}
.forum-containner .aside-left .one-forum-post .post-content{
    max-width: 800px;
    height: max-content;
    margin-bottom: 30px;
}
.forum-containner {
    background-color: #F8F9FA;
}
#send-forum-comment-form .input-wraper input {
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    height: 64px;
    border-radius: 40px;
    background-color: #F0F2F5;
  }
  #send-forum-comment-form {
    position: relative;
  }
  #send-forum-comment-form button {
    position: absolute ;
    padding: 0px 0px !important;
    right: 20px ;
    top: 30px ;
    border: none ;
    background: none ;
    columns: #003377 ;
    font-size: 18px ;
    color: black ;
  }
  
  #send-forum-comment-form .input-wraper {
    margin-bottom: 10px;
  }
  .forum-containner .aside-left .comment-wrapper .list-forum-comment{
      width: 100%;
      height: 226px;
      padding-bottom: 10px;
      overflow-y: auto;
  }
  .forum-containner .aside-left .comment-wrapper .list-forum-comment .forum-comment{
    width: max-content;
    height: max-content;
    margin: 10px 0px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #F0F2F5;
    border: 1px solid #dbdbdb;

  }
  .forum-containner .aside-left .comment-wrapper .list-forum-comment .forum-comment #user{
      font-weight: bold;
  }
  .forum-containner .aside-left .comment-wrapper .list-forum-comment .forum-comment #content{
    max-width: 600px;
    word-break: break-all;
    color: #333333;
  }